.OcrTemplate {
  .bounding-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: #000;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
