@media only screen and (min-width: 360px) {
  #main_logo {
    margin-top: 102px;
    margin-left: 26px;
    width: 132px;
    height: 137px;
  }
  #main_phrase {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 68px;
    margin-left: 30px;
    .phrase1 {
      width: 243px;
      height: 74px;
    }
  }
}

.nonactive {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
