.menu_name {
  margin-top: 24px;
  margin-left: 21px;
  font-family: "NanumBarunGOthic b";
  font-size: 27px;
  color: #000000;
  p {
    margin: 8px;
  }
  .eng {
    font-family: "Avenir-Heavy";
    font-weight: 600;
  }
}
.menu_summary {
  margin-top: 28px;
  margin-left: 29px;
}