@media only screen and (min-width: 360px) {
  .landing {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    #main_logo {
      margin-top: 102px;
      margin-left: 26px;
      width: 132px;
      height: 137px;
    }
    .next_icon {
      position: absolute;
      width: 20px;
      height: 37px;
      right: 30px;
      top: 320px;
    }
    .cam_icon {
      position: absolute;
      right: 30px;
      top: 320px;
      width: 58px;
      height: 58px;
    }
    .footer {
      display: flex;
      flex-flow: row nowrap;
      position: absolute;
      width: 100%;
      bottom: 28px;
      justify-content: center;
      .progress_icon {
        display: block;
        width: 33px;
        height: 7px;
      }
      .skip_icon {
        position: absolute;
        width: 29px;
        height: 13px;
        right: 30px;
        bottom: 1px;
      }
      #camera_img {
        background: url("../../../static/1/1-3/1_3_camera_icon.png") center center no-repeat;
        width: 100px;
      }
    }
  }
}
/*
#lds-ring {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  width: 64px;
  height: 64px;
}
#lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ff6b06;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff6b06 transparent transparent transparent;
}
#lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
#lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
#lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/

